@import "tailwindcss";
@plugin "daisyui" {
   themes: light --default, dark --prefersdark , fantasy;
 }

html[data-theme="fantasy"] {
  background-color: #ffffff;
  color: #000000;
}
html[data-theme="fantasy"] h3 {
  color: #000 !important;
}

html[data-theme="night"] {
  background-color: #0f172a; /* gris foncé/bleu nuit */
  color: #ffffff;
}
html[data-theme="night"] h3 {
  color: #000 !important;
}
html[data-theme="night"] select,
html[data-theme="night"] select option,
html[data-theme="night"] input[type="number"],
html[data-theme="night"] input[type="file"] {
  color: #000 !important;
}
html[data-theme="night"] ::placeholder {
  color: #000 !important;
  opacity: 1;
}
html[data-theme="fantasy"] ::placeholder {
  color: #000 !important;
  opacity: 1;
}

